html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body #map{
    height: 400px;
    position: fixed;
}

.title {
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 80px;
}

.container{
    width:200px;
    align-content: center;
}

button {
  background: cornflowerblue;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: 'Lato';
  margin: 5px;
  outline: none;
  padding: 10px;
  text-transform: uppercase;
}

button:hover {
  background: orange;
}

